
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

/* Para navegadores basados en WebKit */
::-webkit-scrollbar {
    width: 9px;               /* Ancho de la scrollbar vertical */
    height: 9px;              /* Altura de la scrollbar horizontal */
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: #00ffaa;          /* Color del "pulgón" */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;          /* Color al pasar el ratón */
  }
  

body{
    background-color: #28282B;
    font-family: "Jersey 15", sans-serif;
    font-weight: 900;
    font-style: normal;
}


  